{% extends 'base.html.twig' %}

{% block title %}
	{{ sitename }}
	:
	{{ user.username }}
{% endblock %}


{% block body %}
<h1 style="padding: 10px; background:white; width: 852px; margin: auto; color: black; border: 2px solid black;">Dossier numéro {{ user.id }}</h1>
	<section class="flex-center" style="margin-top: 10px;">
		<div class="img-carte-id">
			<div class="avatar-id-global">
				<div class="avatar-id"><img src="https://api.habbocity.me/avatar_image.php?user={{user.username}}&headonly=0&direction=2&head_direction=2&size=l"></div>
			</div>
			<div class="flex-column" style="margin-left: 50px; position: relative; top: 20%">
			<div class="humeur-city">Identité : {{user.username}}</div>
			<div class="humeur-city">Imperial Mobsters, Ace</div>
			<div class="ls-id">Richesse : {{user.money}} <img style="position: relative; top: 4px;" src="{{ asset('img/ls.png')}}">&nbsp;</div>
			<div class="diamond-id">Richesse sur l'hôtel : {{ cityUser['diamonds'] }} <img style="position: relative; top: 3px; height: 16px;" src="{{ asset('img/diamond.png')}}">&nbsp;</div>
			<div class="cp-id" style="font-weight: bolder">Tatouages : </div>
			<section class="flex-center">
				<div class="tattoo-listing">

					{% for badge in cityUser['badges'] %}
					<img src="https://swf.habbocity.me/c_images/album1584/{{ badge.code }}.gif">
					{% endfor %}
				</div>
			</section>
			</div>
		</div>

		<div class="casier-judiciaire">
			<img style="position: relative; top: 30px; left: 10px;" src="https://i.servimg.com/u/f12/19/02/71/34/interp10.png">
			<p class="cj-title">Casier Judiciaire</p>
			<div class="listing-cj">

				{% for mission in missions %}
					<p>{{ mission.mission.title }}</p>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="flex-center flex-row">
		<div class="appart-id">
			<div class="appart-id-title">Patrimoine immobilier</div>
			<section class="flex-center list-room">
				{% for room in cityUser['rooms'] %}
				<div class="idappart-box">
					<img style="position: relative; left: -5px; top: -10px;" src="{{ asset('img/idroom.png')}}">
					<p>{{ room.name }}</p>
				</div>
				{% endfor %}
			</section>
		</div>
	</section>

	<section class="flex-center">
		<div class="appart-id" style="height: 100px;">
			<div class="appart-id-title">Groupements</div>
			<section class="flex-center">
				{% for group in cityUser['groups'] %}
				<div class="groupe-id">
					<img src="{{ group.badge }}" alt="{{ group.name }}">
				</div>
				{% endfor %}
			</section>
		</div>
	</section>


{% endblock %}