{% extends 'base.html.twig' %}

{% block title %}Banque
{% endblock %}

{% block body %}



	<section class="flex-center">
		<div class="quote">
			<img class="primelia" src="https://api.habbocity.me/avatar_image.php?user=Primelia&headonly=0&direction=2&head_direction=3&size=n">
			<p>
				{% for message in app.flashes('error') %}
				{{ message }}
			{% endfor %}

			{% for message in app.flashes('success') %}
					{{ message }}
			{% endfor %}
			</p>
			<p>"La Byron Bank est l'institution qui gère ton argent à l'Imperial Mobsters. Les banquiers sont là pour effectuer les actions que tu leur demande. Attention, réfléchit bien, les actions effectuées ici sont irreversibles."</p>
		</div>
	</section>


	<section class="flex-center" style="text-align: center;">
		<div class="global-card-bank">
			<img class="bbanklogo" src="https://cdn.discordapp.com/attachments/744281580327010396/803786570565681192/istockphoto-1221945429-170667a.png">
			<div class="user-compte">
				<h1>Titulaire du compte : Galahad</h1>
			</div>
			<div class="flex-center">
				<div class="etat-compte" style="margin-top: 10px;">
					<p>Solde :  + 889900
						<img src="{{asset('img/ls.png')}}"></p>
				</div>
			</div>
			<hr>
			<div class="flex-center">
				<div class="mon-banquier" style="margin-top: 10px;">
					<p>Mon banquier : Thorstein</p>
					<div class="banquier-avatar">
						<img src="https://api.habbocity.me/avatar_image.php?user=Thorstein&headonly=0&direction=4&head_direction=3&size=n">
					</div>
				</div>
			</div>
		</div>


		<div class="global-card-bank" style="margin-left: 30px; height: 377px;">
			<div class="user-compte">
				<h1 style="margin-top: 0px;">Virements</h1>
			</div>

			<p style="margin-top: 10px;">Mes bénéficiaires</p>
			<div class="flex-center">
				<div class="banquier-avatar">
					<img src="https://api.habbocity.me/avatar_image.php?user=Heidegger&headonly=0&direction=4&head_direction=3&size=n">
				</div>
				<div class="banquier-avatar">
					<img src="https://api.habbocity.me/avatar_image.php?user=Zunberg&headonly=0&direction=4&head_direction=3&size=n">
				</div>
				<div class="banquier-avatar">
					<img src="https://api.habbocity.me/avatar_image.php?user=Honorius&headonly=0&direction=4&head_direction=3&size=n">
				</div>
			</div>
			<hr>
			<div style="margin-top: 10px;">
				<em>Intérêts : 5%</em>
				<div class="virement-form">
					{{ form_start(sendMoneyForm) }}
					{{ form_widget(sendMoneyForm) }}
					<button type="submit" class="btn btn-primary mb-2">Envoyer l'argent</button>
					{{ form_end(sendMoneyForm) }}
				</div>
			</div>
		</div>


		<div class="global-card-bank" style="margin-left: 30px; height: 377px; width: 260px;">
			<div class="user-compte">
				<h1 style="margin-top: 0px;">Emprunts</h1>
			</div>

			<img style="margin-top: 10px;" src="https://files.habboemotion.com/resources/images/homestickers/money_o.gif">
			<hr>
			<div style="margin-top: 10px;">
				<em>Les emprunts sont soumis à condition, votre banquier est libre de les refuser. Soyez raisonnables sur le motant demandé !</em>
				<div class="virement-form">
					{{ form_start(askEmpruntForm) }}
					{{ form_widget(askEmpruntForm) }}
					<button type="submit" class="btn btn-primary mb-2">Envoyer ma demande</button>
					{{ form_end(askEmpruntForm) }}
				</div>
			</div>
		</div>

	</section>

	<section class="flex-center" style="text-align: center;">
		<div class="global-card-bank">
			<div class="user-compte">
				<h1 style="margin-top: 0px;">Historique des actions</h1>
			</div>
			<img style="margin-top: 10px;" src="https://files.habboemotion.com/resources/images/icons/cash.gif">

			{% for transaction in lastTransactions %}
				<p>
					25/03/2021 | Virement - Bénéficiaire : {{ transaction.receiver }} | Montant : {{ transaction.amount }}
					<img src="{{ asset('img/ls.png')}}">
				</p>
			{% endfor %}
		</div>
	</section>

{% endblock %}
