{% block header %}
	<section class="left-side">
		<div class="user-space">
			<div class="user-avatar">
				<img src="https://api.habbocity.me/avatar_image.php?user=GALAHAD&headonly=0&direction=2&head_direction=3&size=l">
			</div>
			<div class="user-info">
				<p class="user-name">Galahad</p>
				<p>Membre</p>
				<p>Clan : Jugsters</p>
				<p><img src="{{ asset('img/ls.png') }}">&nbsp;
					<span class="user-money">138289</span>
				</p>
			</div>
		</div>


		<div class="menu">
			<div class="menu-items">
				<a href="#">
					<p><img src="{{ asset('img/place_1.gif') }}">&nbsp;Accueil</p>
				</a>
				<a href="#">
					<p><img src="{{ asset('img/place_1.gif') }}">&nbsp;The Times</p>
				</a>
				<a href="#">
					<p><img src="{{ asset('img/place_1.gif') }}">&nbsp;Classement</p>
				</a>
				<a href="#">
					<p><img src="{{ asset('img/place_1.gif') }}">&nbsp;Missions</p>
				</a>
				<div class="dropdown-left">
					<a href="#">
						<p><img src="{{ asset('img/place_1.gif') }}">&nbsp;Banque</p>
					</a>
					<div class="dropdown-content"></div>
				</div>

			</div>
		</div>


		<div class="buttons">
			<button class="btn">
				<img src="{{ asset('img/THI46.gif') }}">&nbsp;<span>Missions</span>
				<span class="missions-notifs">5</span>
				>
			</button>
		</div>

		<div class="buttons">
			<button class="btn" style="word-spacing: 30px;">
				<img src="{{ asset('img/THI46.gif') }}">&nbsp;<span>Notifications</span>
				<span class="missions-notifs">5</span>
				>
			</button>
		</div>
	</section>
{% endblock %}
