{% block header %}

	<input type="checkbox" id="main-navigation-toggle" class="btn btn--close" title="Toggle main navigation"/>

	<label for="main-navigation-toggle">
		<span></span>
	</label>

	<nav id="main-navigation" class="nav-main">
		<ul class="menu">
			<li class="menu__item">
				<a class="menu__link" href="{{ path('home') }}">Accueil</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="{{ path('news') }}">The Times</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#">Banque</a>
				<ul class="submenu">
					<li class="menu__item">
						<a class="menu__link" href="{{ path('my_bank_account') }}">Mon compte</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">Emprunts</a>
					</li>
				</ul>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="{{ path('mission') }}">Missions</a>
			</li>

			{% if app.user %}
				<li class="menu__item">
					<a class="menu__link" href="{{ path('user_profile', {'username': app.user.username }) }}">Profil</a>
				</li>
				<li class="menu__item">
					<a class="menu__link" href="{{ path('app_logout') }}">Déconnexion</a>
				</li>
			{% else %}
				<li class="menu__item">
					<a class="menu__link" href="{{ path('app_login') }}">Connexion</a>
				</li>
				<li class="menu__item">
					<a class="menu__link" href="{{ path('register') }}">Inscription</a>
				</li>
			{% endif %}
			<p style="color: white;">&copy;Imperial Mobsters 2021 - Version ALPHA</p>

		</ul>
	</nav>

	{% if app.user %}
		<div class="user-space">
			<div class="user-head">
				<img src="https://api.habbocity.me/avatar_image.php?user={{ app.user.username }}&headonly=0&direction=2&head_direction=3&size=n">
			</div>
			<div class="user-name" onclick="location.href = '/profil/{{ app.user.username }}'" style="cursor: pointer">
				{{ app.user.username }}&nbsp;
				<img src="https://files.habboemotion.com/resources/images/icons/edit_badge_button.gif"/>
			</div>
		{% else %}
			<div class="user-space">
				<div class="user-head">
					<img src="https://api.habbocity.me/avatar_image.php?user=PRIMELIA&headonly=0&direction=2&head_direction=3&size=n">
				</div>
				<div class="user-name">
					Visiteur&nbsp;
					<a href="/login"><img style="top: 0px;" src="https://files.habboemotion.com/resources/images/icons/locked_big.gif"></a>
				</div>
			{% endif %}

		</div>
	</nav>
</header>{% endblock %}
