{% block header %}
	<section class="left-side">

		{% if app.user %}
			<div class="user-space">
				<div class="user-avatar">
					<a href="/profil/{{ app.user.username }}">
					<img src="https://api.habbocity.me/avatar_image.php?user={{ app.user.username }}&headonly=0&direction=2&head_direction=3&size=l">
					</a>
				</div>
				<div class="user-info">
					<p class="user-name"><strong>{{ app.user.username }}</strong></p>
					<span>Membre</span>

					{% if app.user.clan is null %}
					<p>Civil</p>
					{% else %}
					<p>Clan : {{ app.user.clan }}</p>
					{% endif %}
					<p><img src="{{ asset('img/ls.png') }}">&nbsp;
						<span class="user-money">{{ app.user.money }}</span>
					</p>
				</div>
			</div>

		{% else %}

			<div class="user-space">
				<div class="user-avatar">
					<img src="https://habbo.com/habbo-imaging/avatarimage?figure=hr-3531-1407-61.hd-209-20.ch-3443-1409.lg-3058-91.sh-3524-64-110.fa-3344-110.ha-1015&size=l&direction=2&head_direction=2&gesture=std">
				</div>
				<div class="user-info">
					<p class="user-name">Visiteur</p>
					<a href="/login"><div class="login-button">Connexion</div></a>
					<a href="/register"><div class="login-button">Inscription</div></a>
				</div>
			</div>

		{% endif %}

		{% if app.user %}
			<a class="logout-btn" href="/logout">Déconnexion</a>
		{% endif %}

		<form method="GET" class="searchprofil" action="/search/">
			<input name="user" class="spinput" type="search" placeholder="Rechercher un utilisateur...">
    	</form>
		<div class="menu">
			<div class="menu-items">
				<a href="{{ path('home') }}">
					<p><img src="https://images.habbo.com/c_images/album1584/FR823.gif">&nbsp;Accueil</p>
				</a>
				<a href="{{ path('news') }}">
					<p><img src="https://images.habbo.com/c_images/album1584/SMC04.gif">&nbsp;The Times</p>
				</a>
				<a href="{{ path('leaderboard') }}">
					<p><img src="https://images.habbo.com/c_images/album1584/MFT33.gif">&nbsp;Classement</p>
				</a>
				<a href="{{ path('mission') }}" id="expandable" onmouseover="">
					<p><img src="https://images.habbo.com/c_images/album1584/PT421.gif">&nbsp;Missions</p>
				</a>
				<a href="{{ path('my_bank_account') }}" id="expandable" onmouseover="">
					<p><img src="https://images.habbo.com/c_images/album1584/FR904.gif">&nbsp;Banque</p>
				</a>
				<a href="/guide" id="expandable" onmouseover="">
					<p><img src="https://cdn.discordapp.com/attachments/711277480677212231/727283045077483530/Imredim.png">&nbsp;Guide</p>
				</a>
			</div>
		</div>


		{% if app.user %}
			{{ render(controller(
				'App\\Controller\\MissionController::getMissionModule'
			)) }}
<!--
			<div class="buttons">
				<button class="btn" style="word-spacing: 30px;">
					<img src="{{ asset('img/NOTIF.gif') }}"><span>Notifications</span>
					<span class="missions-notifs">5</span>
					<span class="btn-arrow">
						>
					</span>
				</button>
			</div>
-->
			<div class="footer">
				<img src="{{ asset('img/grobberlogo.png')}}">
				<div class="footer-txt">
					<span class="ft-app-name">&copy; Imperial Mobsters Network</span><br>
					<span>Version ALPHA</span>
				</div>
			</div>

		{% endif %}

	</section>
{% endblock %}
