{% extends 'base.html.twig' %}

{% block title %} {{ sitename }} : Forbes {% endblock %}

{% block body %}

    <section class="flex-center">
        <div class="leaderboard-global-box">
            <span class="lgb-title">Top richesse</span>
            <div class="lgb-podium">
                <h1>Podium</h1>
                <div class="rang3">
                    <p class="position">TOP 3</p>
                    <p>{{ leaderboard[2].username }}</p>
                    <p>{{ leaderboard[2].money }} <img src="{{ asset('img/ls.png') }}"></p>
                    <img style="margin-left: -20px; margin-top: -40px;" src="https://api.habbocity.me/avatar_image.php?user={{ leaderboard[2].username }}&headonly=0&direction=2&head_direction=3&size=l">
                </div>
                <div class="rang2">
                    <p class="position">TOP 2</p>
                    <p>{{ leaderboard[1].username }}</p>
                    <p>{{ leaderboard[1].money }} <img src="{{ asset('img/ls.png') }}"></p>
                    <img style="margin-left: -7px; margin-top: -40px;" src="https://api.habbocity.me/avatar_image.php?user={{ leaderboard[1].username }}&headonly=0&direction=4&head_direction=3&size=l">
                </div>
                <div class="rang1">
                    <p class="position">MVP</p>
                    <p>{{ leaderboard[0].username }}</p>
                    <p>{{ leaderboard[0].money }} <img src="{{ asset('img/ls.png') }}"></p>
                    <img style="margin-top: -40px; margin-left: -13px;" src="https://api.habbocity.me/avatar_image.php?user={{ leaderboard[0].username }}&headonly=0&direction=3&head_direction=3&size=l&action=wav">
                </div>
            </div>

            {% for user in leaderboard[3:] %}
            <div class="lgb-out-podium">
                <div class="out-box">
                    <img class="avatar" src="https://api.habbocity.me/avatar_image.php?user={{ user.username }}&headonly=0&direction=2&head_direction=3&size=n">
                    <div  class="content">{{ user.username }} : {{ user.money }} <img src="{{ asset('img/ls.png') }}"> </div >
                    <div  class="position">{{ loop.index + 3 }}</div>
                </div>
            </div>
            {% endfor %}
        </div>


 <div class="leaderboard-global-box" style="margin-left: 20px">
            <span class="lgb-title">Top missions</span>
            <div class="lgb-podium">
                <h1>Podium</h1>
                <div class="rang3">
                    <p class="position">TOP 3</p>
                    <p>{{ leaderboardMission[2].username }}</p>
                    <p>{{ leaderboardMission[2].finishedMission }} missions</p>
                    <img style="margin-left: -20px; margin-top: -40px;" src="https://api.habbocity.me/avatar_image.php?user={{ leaderboardMission[2].username }}&headonly=0&direction=2&head_direction=3&size=l">
                </div>
                <div class="rang2">
                    <p class="position">TOP 2</p>
                    <p>{{ leaderboardMission[1].username }}</p>
                    <p>{{ leaderboardMission[1].finishedMission }} missions</p>
                    <img style="margin-left: -20px; margin-top: -40px;" src="https://api.habbocity.me/avatar_image.php?user={{ leaderboardMission[1].username }}&headonly=0&direction=2&head_direction=3&size=l">
                </div>
                <div class="rang1">
                    <p class="position">MVP</p>
                    <p>{{ leaderboardMission[0].username }}</p>
                    <p>{{ leaderboardMission[0].finishedMission }} missions</p>
                    <img style="margin-top: -40px; margin-left: -13px;" src="https://api.habbocity.me/avatar_image.php?user={{ leaderboardMission[0].username }}&headonly=0&direction=3&head_direction=3&size=l&action=wav">
                </div>
            </div>
            {% for user in leaderboardMission[3:] %}
            <div class="lgb-out-podium">
                <div class="out-box">
                    <img class="avatar" src="https://api.habbocity.me/avatar_image.php?user={{ user.username }}&headonly=0&direction=2&head_direction=3&size=n">
                    <div  class="content2">{{ user.username }} : {{ user.finishedMission }} missions</div >
                    <div  class="position">{{ loop.index + 3 }}</div> <!-- Weird but works, coz loop starts at 0-->
                </div>
            </div>
            {% endfor %}

        </div>

    </section>








<!--

    {% for user in leaderboard %}
            <h1>{{ user.username }}</h1>
    {% endfor %}
-->
{% endblock %}
