{% extends 'base.html.twig' %}

{% block title %}
    {{ sitename }}
    : {{ controller_name }}
{% endblock %}

{% block body %}

    <section class="flex-center">
        <div class="quote">
            <img class="primelia" src="https://api.habbocity.me/avatar_image.php?user=Primelia&headonly=0&direction=2&head_direction=3&size=n">
            <p>"Les missions sont attribuées par les Knights de l'Empire. Acceptez les missions les plus intéressantes et faites en sorte de les réussir : elles rapportent gros."</p>
        </div>
    </section>

        <h1 style="margin-top: 20px; text-align: center;">Missions générales</h1>
    {% for mission in missionAvailable %}
    {% if mission.clan == null %}
    <section class="flex-center" style="margin-top: 10px;">
        <div class="mlb-global">
            <img class="mlb-author" src="https://api.habbocity.me/avatar_image.php?user=GALAHAD&headonly=0&direction=2&head_direction=3&size=n&gesture=spk&action=wav">
            <div class="mlb-author-speach">
                <div class="mlb-reward">
                    300&nbsp;<img src="{{ asset('img/ls.png') }}">
                </div>
            </div>
            <div class="mlb-title">
                {{ mission.title }}
            </div>
            <div class="mlb-descr">
                <div>
                    <a class="btn" href="#open-modal">En savoir plus...
                    <img style="position: relative; top: 4px; left: -6px;" src="https://files.habboemotion.com/resources/images/homestickers/eyeright.gif">
                    </a>
                </div>
            </div>
            <a href="{{ path('accept_mission', {'id': mission.id }) }}">
                <button type="button" class="mlb-accept">Accepter la mission</button>
            </a>

            <div id="open-modal" class="modal-window">
                <div>
                    <a href="#" title="Close" class="modal-close">X</a>
                    <h1>Descriptif Complet</h1>
                    <div>{{ mission.description |raw }}</div>
                    <a style="position: relative; top: 15px;" href="{{ path('accept_mission', {'id': mission.id }) }}" target="_blank">Accepter</div>
            </div>
        </div>


    </section>
    {% endif %}
    {% endfor %}


<!--
<div class="list-mission flex-column" style=" width: 90%; margin: auto; height: 500px; overflow: scroll">
    <h1>Missions classiques</h1><br>
    {% for mission in missionAvailable %}
        {% if mission.clan == null %}
            <div class="mission-card">
                <div class="card-body flex-row">
                 <h3 class="card-title">{{ mission.title }}</h3>
                 <p class="card-text">{{ mission.description|raw }}</p>
                    <a href="{{ path('accept_mission', {'id': mission.id }) }}">
                     <button type="button" class="btn btn-success">Accepter</button>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

    {% if app.user.clan %}
<div class="list-mission flex-column" style="width: 80%; margin: auto;">
    <h1>Missions de clan : {{ app.user.clan.name }}</h1>

 <div class="mission-list--content">
{% for mission in missionAvailable %}
    {% if mission.clan == app.user.clan %}
        <div class="mission-card">
            <div class="card-body flex-row">
                <h3 class="card-title">{{ mission.title }}</h3>
                <p class="card-text">{{ mission.description|raw }}</p>
                <a href="{{ path('accept_mission', {'id': mission.id }) }}">
                    <button type="button" class="btn btn-success">Accepter</button>
                </a>
            </div>
        </div>
    {% endif %}
{% endfor %}

     {% endif %}
 </div>
</div>
-->
{% endblock %}
