{% extends 'base.html.twig' %}

{% block title %}
    {{ sitename }}
    : {{ controller_name }}
{% endblock %}

{% block body %}


<div class="list-mission flex-column" style=" width: 90%; margin: auto; height: 500px; overflow: scroll">
    <h1>Missions classiques</h1><br>
    {% for mission in missionAvailable %}
        {% if mission.clan == null %}
            <div class="mission-card">
                <div class="card-body flex-row">
                 <h3 class="card-title">{{ mission.title }}</h3>
                 <p class="card-text">{{ mission.description|raw }}</p>
                    <a href="{{ path('accept_mission', {'id': mission.id }) }}">
                     <button type="button" class="btn btn-success">Accepter</button>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

    {% if app.user.clan %}
<div class="list-mission flex-column" style="width: 80%; margin: auto;">
    <h1>Missions de clan : {{ app.user.clan.name }}</h1>

 <div class="mission-list--content">
{% for mission in missionAvailable %}
    {% if mission.clan == app.user.clan %}
        <div class="mission-card">
            <div class="card-body flex-row">
                <h3 class="card-title">{{ mission.title }}</h3>
                <p class="card-text">{{ mission.description|raw }}</p>
                <a href="{{ path('accept_mission', {'id': mission.id }) }}">
                    <button type="button" class="btn btn-success">Accepter</button>
                </a>
            </div>
        </div>
    {% endif %}
{% endfor %}

     {% endif %}
 </div>
</div>

{% endblock %}
