{% extends 'base.html.twig' %}

{% block title %}
    {{ sitename }}
    : {{ controller_name }}
{% endblock %}

{% block body %}

    <section class="flex-center">
        <div class="quote">
            <img class="primelia" src="https://api.habbocity.me/avatar_image.php?user=Primelia&headonly=0&direction=2&head_direction=3&size=n">
            <p>"Les missions sont attribuées par les Knights de l'Empire. Acceptez les missions les plus intéressantes et faites en sorte de les réussir : elles rapportent gros."</p>
        </div>
    </section>

<div class="flex-row" style="justify-content: space-between;">

<div class="flex-column m-45">
    <h1 style="margin-top: 20px; margin-bottom: 20px;">Missions générales</h1>
    {% for mission in missionAvailable|reverse %}
    {% if mission.clan == null %}
        <div class="flex-row mission-detail-box">
            <img class="mission-side-image" src="https://images.habbo.com/c_images/album1584/ITC81.png">
            <div class="flex-column" style="margin-top: -30px;">
                {% if mission.diamondsReward != null %}
                    <div class="mission-bubble" style="margin-bottom: 5px;">
                        <span style="display: flex; justify-content: space-between;"><span style="margin-top: 8px;">{{ mission.diamondsReward }}</span> <img src="{{ asset('img/diamond.png') }}"> </span>
                    </div>
                {% endif %}
                <div class="mission-bubble" style="margin-bottom: 5px;">
                    <span style="display: flex; justify-content: space-between;"><span style="margin-top: 8px;">{{ mission.reward }}</span> <img src="{{ asset('img/ls.png') }}"> </span>
                </div>
                <button class="accept-mission-btn" onclick="location.href= '/mission/accept/{{ mission.id }}'">Accepter</button>
            </div>

            <div class="flex-column mission-description">
                <h2>{{ mission.title }}</h2>
                <span>{{ mission.description|raw }}</span>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>

        <!-- Mission de clan -->
    {% if app.user.clan %}
    <div class="flex-column m-45">
        <h1 style="margin-top: 20px; margin-bottom: 20px;">Missions de ligue : {{ app.user.clan }}</h1>
        {% for mission in missionAvailable|reverse %}
            {% if mission.clan == app.user.clan %}
                <section class="flex-center">
                    <div class="flex-row mission-detail-box">
                        <img class="mission-side-image" src="https://images.habbo.com/c_images/album1584/{{ app.user.clan.badge }}.png">
                        <div class="flex-column" style="margin-top: -30px;">
                            {% if mission.diamondsReward != null %}
                                <div class="mission-bubble" style="margin-bottom: 5px;">
                                    <span style="display: flex; justify-content: space-between;"><span style="margin-top: 8px;">{{ mission.diamondsReward }}</span> <img src="{{ asset('img/diamond.png') }}"> </span>
                                </div>
                            {% endif %}
                            <div class="mission-bubble" style="margin-bottom: 5px;">
                                <span style="display: flex; justify-content: space-between;"><span style="margin-top: 8px;">{{ mission.reward }}</span> <img src="{{ asset('img/ls.png') }}"> </span>
                            </div>
                            <button class="accept-mission-btn" onclick="location.href= '/mission/accept/{{ mission.id }}'">Accepter</button>
                        </div>

                        <div class="flex-column mission-description">
                            <h2>{{ mission.title }}</h2>
                            <span>{{ mission.description|raw }}</span>
                        </div>
                    </div>
                </section>
            {% endif %}
        {% endfor %}
    </div>

        {% else %}

            <div class="flex-column m-45">
                <h1 style="margin-top: 20px; margin-bottom: 20px;">Missions de clan</h1>
                <h3>Les missions de clans sont accessibles pour les membres de l'Imperial Mobsters</h3>
            </div>


    {% endif %}


</div>

{% endblock %}
