{% extends 'base.html.twig' %}

{% block title %}{{ sitename }} : {{ controller_name }}!{% endblock %}

{% block body %}

    {% for news in newsList %}
        <div class="card" style="width: 18rem;">
            <img src="{{ news.topstory }}" class="card-img-top" alt="Topstory">
            <div class="card-body">
                <span class="badge bg-success">{{ news.category.name }}</span>
                <h5 class="card-title">{{ news.title }}</h5>
                <a href="/news-{{ news.id }}" class="btn btn-primary">Lire...</a>
            </div>
        </div>
    {% endfor %}


{% endblock %}

