{% extends 'base.html.twig' %}

{% block title %}{{ sitename }} : {{ controller_name }}!{% endblock %}

{% block body %}

    <div class="news-list flex-column">
    {% for news in newsList %}
            <div class="news-topstory" style="background-image: url('{{ news.topstory }}')">
                <span class="category-badge"><p>{{ news.category.name }}</p></span>
                <div class="news-title-box">
                    <span>{{ news.title }}</span>
                    <a href="/news-{{ news.id }}" class="btn btn-primary btn-read-news">Lire...</a>
                </div>
            </div>
    {% endfor %}
    </div>

{% endblock %}

