{% extends 'base.html.twig' %}

{% block title %} {{ sitename}} : {{ news.title }} {% endblock %}

{% block body %}

    <div class="news-content w-100">
        <div class="news-top-image" style="background-image: url('{{ news.topstory }}');">
            <h1 class="news-title">{{ news.title }}</h1>
        </div>
        <p class="news-content">{{ news.content|raw }}</p>
        <span>- {{ news.author }}</span>

    </div>

    <div class="flex-row" style="justify-content: space-between;">


    <div class="comment-space w-100 flex-column">
        <h1 class="section-title">Commentaires</h1>
        {{ form_start(comment_form) }}
        {{ form_widget(comment_form) }}
        <button type="submit" class="btn btn-primary mb-2 btn-comment">Commenter</button>
        {{ form_end(comment_form) }}

    {% for comment in comments|reverse %}
        <div class="comment-item w-100 flex-row">
        <img alt="comment avatar" class="user-comment-avatar" src="https://api.habbocity.me/avatar_image.php?user={{ comment.user.username }}&headonly=0&direction=2&head_direction=3&size=n">
            <div class="flex-column comment--content">
                <span class="comment-content--top"><strong>{{ comment.user.username }}</strong> - {{ comment.date|date("d/m/Y") }} </span>
                <span class="comment--content--message">{{ comment.message }}</span>
            </div>
        </div>
    {% endfor %}
    </div>

        <div class="other-news-space flex-column">
            <h1 class="section-title">Autres articles</h1>

            {% for news in other_news[:3]|reverse %}

            <div class="other-news--item" style="background-image: url('{{ news.topstory }}')" onclick="location.href = '/news-{{ news.id }}'">
                <h2>{{ news.title }}</h2>
            </div>

            {% endfor %}


        </div>

    </div>

{% endblock %}